*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page{
    width: 100%;
    height: 100vh;
}
.one{
    background:url('pictures/Madara-Uchiha.gif');
    background-size: 100% 100%;
    height: 100% 100%;
    background-repeat: no-repeat;
}
.two{
    background-color: grey;
    background-size: 100% 100%;
    height: 100% 100%;
}
h1{
    text-align: center;
    padding: 20px;
}
p{
    text-align: center;
    padding-top: 15px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 50px;
    grid-row-gap: 5rem;
    padding: 50px 0px 50px 0px;
    width: 60%;
    height: 70%;
    margin: auto;
}
.grid-item {
  grid-column:span 2;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}
.custom {
    grid-column:span 3;
}
.four{
    grid-column-start: 2;
    grid-column-end: 4;
}
.five{
    grid-column-start: 4;
    grid-column-end: 6;
}
.img{
    max-width: 100%;
    border-radius: 50px;
    object-fit: cover;
}
button{
    align-items: end;
}
/*
https://stackoverflow.com/questions/62140771/split-css-grid-2-columns-into-3-for-specific-row
https://www.w3schools.com/css/css3_transitions.asp
https://learncssgrid.com
https://stackoverflow.com/questions/19848697/css-grid-where-one-column-shrinks-to-fit-content-the-other-fills-the-remaning-s
*/